.marqueeBar {
  margin-top: 10rem;
  margin-bottom: 10rem;
  overflow: hidden;
}

.marqueeWrap {
  display: flex;
  overflow: hidden;
  height: 20rem;
  background: linear-gradient(90deg, white, rgb(103, 202, 207));
}

.marqueeWrap::before {
  content: "";
  height: 20rem;
  width: 400px !important;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  /* background-color: black; */
  /* left: 0; */
  /* top: 0; */
  z-index: 100;
  position: absolute;
}

.marqueeRow {
  white-space: nowrap;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  animation: marquee 15s infinite linear;
  /* margin-right: 3rem; */
  padding: 0rem 0.75rem !important;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marqueeItem {
  width: 15rem;
  position: relative;

  border-radius: 0.3rem;

  user-select: none;
}

.marqueeImg {
  width: 15rem;
  height: 100%;
  border-radius: 0.4rem;
}

.besteMerken {
  font-size: 48px;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.heroRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkmark {
  font-size: 3rem;
  margin-left: 0.75rem;
  color: rgb(103, 202, 207);
  margin-bottom: 1rem;
}
