.footer {
  background-color: black;
  padding-top: 3rem;
  background: linear-gradient(130deg, black, rgb(14, 13, 13), black);
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding-left: 10px;
  width: 100%;
  padding: 2.5rem 10rem;
}

.designedBy {
  text-align: start;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  letter-spacing: 2px;
  color: rgb(216, 213, 213);
  user-select: none;
  cursor: pointer;
  position: absolute;
  z-index: 1000 !important;
  bottom: 10px;
  left: 10px;
}

.designedBy:hover {
  color: rgb(0, 78, 247);
}

a {
  text-decoration: none;
  color: rgb(216, 213, 213);
}

.blueSpan {
  color: rgb(0, 78, 247);
}

.innerFooter {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  width: 100%;
}

.leftBlock {
  position: relative;
  /* background-color: white; */
  /* border: 1px solid white; */
  padding: 0rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  user-select: none;
  /* width: 100%; */
}

.rightBlock {
  position: relative;
  padding: 0rem 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid white;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  color: white;
  gap: 1rem;
  user-select: none;
  /* width: 100%; */
}

.footerMainlogo {
  width: 50px;
  display: block;
}

.footerTitle {
  color: white;
  font-size: 38px;
}

.innerBlockWrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.8rem;
  margin-left: 0.15rem;
  width: 100%;
}

.groen {
  color: rgb(103, 202, 207);
  font-size: 32px !important;
}

.blackshape {
  width: 23px;
  height: 8px;
  background-color: white;
  border-radius: 3rem;
  position: relative;
  top: -8px;
  left: -4px;
}

.middleBlock {
  border: 1px solid white;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20rem;
}

.footerList {
  /* margin-top: 4rem; */
  list-style-type: none;
  padding-bottom: 2rem;
}

.footerList li {
  color: rgb(189, 189, 189);
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  transition: all 0.2s ease-in-out;
}

.footerList li:hover {
  color: white;
}

.socialsBar {
  border-top: 1px solid white;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding-top: 1rem;
  gap: 1rem;
}

.socialIcon {
  color: rgb(211, 211, 211);
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.socialIcon:hover {
  color: white;
}

.rightSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 24px;
  color: rgb(189, 189, 189);
}

.footerList li:hover .selectArrow {
  visibility: visible;
}

.selectArrow {
  position: relative;
  visibility: hidden;
  top: 4px;
}

.rightBlockIcon {
  color: white;
}
