.ctaBox {
  margin: 15rem 0rem;
  margin-top: 10rem;
  /* height: 45rem; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.082);
}

.curvedDiv {
  position: relative;
  background: #67cacf;
  color: #fff;
  text-align: center;
  overflow: hidden;
  width: 100%;
}
.curvedDiv svg {
  display: block;
}
.curvedDiv.upper {
  background: #fff;
}

.fillerspan {
  /* display: none; */
}

.heroTitle {
  font-size: 48px !important;
}

.ctaOptions {
  height: 10rem;
  width: 100%;
  background-color: red;
}

.ctaOptions button {
  width: 8rem;
  height: 2rem;
}
