.ctaBox {
  margin: 15rem 0rem;
  margin-top: 10rem;
  /* height: 45rem; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.082);
}

.curvedDiv {
  position: relative;
  background: #67cacf;
  color: #fff;
  text-align: center;
  overflow: hidden;
  width: 100%;
}
.curvedDiv svg {
  display: block;
}
.curvedDiv.upper {
  background: #fff;
}

.fillerspan {
  /* display: none; */
}

.heroTitle {
  font-size: 64px !important;
}

.ctaOptions {
  height: 10rem;
  width: 100%;
  /* background-color: red; */
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctaBtn {
  padding: 1rem 2rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 0.4rem;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-shadow: 0px 0px 1px gray;
}

.ctaBtn:hover {
  background-color: white;
  color: black;
}

.ctaBtn:hover .ctaIcon {
  /* transform: translateX(0.5rem); */
}

.ctaIcon {
  font-size: 27px;
}
