.navbar {
  background: linear-gradient(
    90deg,
    white,
    rgb(103, 202, 207),
    rgb(103, 202, 207)
  );
  height: 3rem;
  display: flex;
  justify-content: center;
}

.navlogo {
  height: 3rem;
  position: absolute;
  left: 0;
  cursor: pointer;
}
