.navbar {
  background: linear-gradient(
    90deg,
    white,
    rgb(103, 202, 207),
    rgb(103, 202, 207)
  );
  height: 3rem;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.navlogo {
  height: 3rem;
  position: absolute;
  left: 0;
  cursor: pointer;
}

.navlist {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow: hiddenn;
}

.links {
  text-decoration: none;
}

.link {
  text-decoration: none;
  font-weight: 700;
  color: white;
  text-shadow: 0px 0px 70px black;
  position: relative;
  padding: 0.25rem;

  border-radius: 0.2rem;
  border-bottom: 1px solid transparent;
}

.link:hover {
  border-bottom: 1px solid black;
}

.active {
  color: black;
}

.active:hover {
  border-bottom: 1px solid transparent;
}
